tr.example-detail-row {
    height: 0;
}
.example-element-detail {
    overflow: hidden;
    display: flex;
}

.example-element-diagram {
    width: 100%;
    // border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    // height: 104px;
}