<div class="a4-container">
    <div class="content">
        <h1>Bio Data</h1>
            <div class="d-flex flex-row bd-highlight mb-3">
                <div>
                    <!-- Personal Details -->
                    <div class="section">
                        <h3>Personal Details</h3>
                        <div class="row"><span class="label">Name:</span>{{profile.personal.fname | titlecase }} {{profile.personal.lname | titlecase }}</div>
                        <div class="row"><span class="label">Date of Birth:</span>{{profile.personal.dob | date:'longDate'}}</div>
                        <div class="row"><span class="label">Time of Birth:</span>{{profile.personal.tob}}</div>
                        <div class="row"><span class="label">Place of Birth:</span>{{profile.personal.pob | titlecase}}</div>
                        <div class="row"><span class="label">Current Place:</span>{{profile.personal.city | titlecase}}</div>
                        <div class="row"><span class="label">Rashi:</span>{{profile.personal.rashi | titlecase}}</div>
                        <div class="row"><span class="label">Gotra:</span>{{profile.personal.gotra | titlecase}}</div>
                        <div class="row"><span class="label">Height:</span>{{util.findLebelByValue(heightList, +profile.personal.height ) | titlecase}}</div>
                        <div class="row"><span class="label">Weight:</span>{{util.findLebelByValue(weightList, +profile.personal.weight ) | titlecase}}</div>
                        <div class="row"><span class="label">Marital :</span>{{profile.personal.weight | titlecase}}</div>
                    </div>
                     <!-- Professional Details -->
                    <div class="section">
                        <h3>Professional Details</h3>
                        <div class="row"><span class="label">Education:</span>{{profile.personal.education | titlecase}}</div>
                        <div class="row"><span class="label">Occupation:</span>{{profile.personal.jobTitle | titlecase}}</div>
                        <div class="row"><span class="label">Annual Income:</span>{{profile.personal.income | titlecase}}</div>
                    </div>

                    <!-- Family Details -->
                    <div class="section">
                        <h3>Family Details</h3>

                        <div class="row"><span class="label">Father's Name:</span>{{profile.family.fatherName | titlecase}}</div>
                        <div class="row"><span class="label">Father's Occupation:</span>{{profile.family.fatherOccupation | titlecase}}</div>
                        <div class="row"><span class="label">Mother's Name:</span>{{profile.family.motherName | titlecase}}</div>
                        <div class="row"><span class="label">Mother's Occupation:</span>{{profile.family.motherOccupation | titlecase}}</div>
                        <div class="row"><span class="label">No of Brother:</span>{{profile.family.brothersCount}}</div>
                        <div class="row"><span class="label">No of Sister:</span>{{profile.family.sistersCount| titlecase}}</div>
                    </div>

                    <!-- Contact Details -->
                    <div class="section">
                        <h3>Contact Details</h3>

                        <div class="row"><span class="label">Phone:</span>{{profile.contact.phone}}</div>
                        <div class="row"><span class="label">Email:</span>{{profile.contact.email}}</div>
                        <div class="row"><span class="label">Address:</span>{{profile.contact.address | titlecase}}</div>
                    </div>
                </div>
                <div style="max-width: 200px;" class="ms-auto">
                    <img [src]="profile.images[profile.images.length-1]" class="rounded img-fluid" alt="Profile Photo">
                </div>
            </div>
    </div>
</div>