<mat-drawer-container class="sidebar">
    <mat-drawer #leftMenuRef [mode]="uiStore.isMobile ? 'over' : 'side'" [opened]="!uiStore.isMobile">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
            <mat-nav-list>
                <a mat-list-item [routerLink]="link.route" *ngFor="let link of leftMenuItems" [routerLinkActive]="'active'">
                    <div class="d-flex link-color">
                        <mat-icon>{{link.icon}}</mat-icon><span class="ms-1">{{ link.label }}</span>
                    </div>
                </a>
            </mat-nav-list>

          
            <hr>
            <div class="dropdown">
                <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle"
                    id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                    <strong>mdo</strong>
                </a>
                <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2" style="">
                    <li><a class="dropdown-item" href="#">New project...</a></li>
                    <li><a class="dropdown-item" href="#">Settings</a></li>
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content autosize>
        <app-body></app-body>
    </mat-drawer-content>
</mat-drawer-container>